@page
@model truthfulls.com.Pages.StockIndexModel
@{
  
}
@using truthfulls.com.ViewModel


<div id="page-stock-index">

    <div id="ticker-search-input-container">

        <form id="form-ticker-search" asp-page-handler="GetPrices" method="post" class="flex-container-c height-quarter width-full" onsubmit="return truthfullsApp.events.validateStockSearchFormSubmit(this)">
            
            <div id="container-input-txt">
                <label for="ticker-search-txt-input" class="validation-lbl"></label>
                <input id="ticker-search-txt-input" class="ticker-input-txt" type="text" placeholder="Tickers...." list="tickers-datalist" name="ticker" value="@Model.SelectedTicker" onkeyup="truthfullsApp.events.keyUpTickerSearchTxt(this)">
                <datalist id="tickers-datalist"> </datalist>
            </div>
              
            <div id="radio-tf">
                <input type="radio" id="ticker-search-radio-daily" name="timeframe" value=1 onchange="truthfullsApp.events.timeFrameSelect(this)">
                <label for="radio-daily" style="margin-bottom:auto;">Daily</label><br>
                <input type="radio" id="ticker-search-radio-weekly" name="timeframe" value=2 onchange="truthfullsApp.events.timeFrameSelect(this)">
                <label for="radio-weekly" style="margin-bottom:auto;">Weekly</label><br>
            </div>
  

            <label id ="ticker-duration-slct-lbl" for="duration-slct">Duration(Years)</label>
            <select id="ticker-search-duration-slct" name="durationSlct" onchange="truthfullsApp.events.durationSlct(this)" onload="truthfullsApp.events.initDuration(this)" class="margin-auto-r">
                <option value="1" >1</option>
                <option value="2">2</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="Max">Max</option>
            </select>
 
            <input id="ticker-search-btn" type="submit" class="dodger-blue-bg white-color margin-auto-r margin-auto-b" value="Search" onsubmit="truthfullsApp.events.tickerSearch(this)">

        </form>
         
    </div>

    <div id="chart-container" class="flex-container-c height-full">
        <div id="chart-tab" class="width-full height-tenth">
            <a class="chart-tab-btn fa fa-line-chart dodger-blue-bg" id="btn-chart" onclick="truthfullsApp.events.openTab(this)"></a>
            <a class="chart-tab-btn fa fa-bar-chart-o dodger-blue-bg" id="btn-stats" onclick="truthfullsApp.events.openTab(this)"></a>
            <a class="chart-tab-btn fa fa-clone dodger-blue-bg" id="btn-fundies" onclick="truthfullsApp.events.openTab(this)" href="#crossasset-form">    </a>
        </div>

        <a></a>
       

        <div id="chart-area" class="flex-container-c height-full width-full">
         
     
        </div>
    </div>

    <div id="crossasset-form" class="popup-container" >
        <form id="form-ticker-search-cross-asset-compare" class="reveal-modal" onsubmit="return truthfullsApp.events.validateStockSearchFormSubmit(this)">
            <label for="ticker-searchca-txt-input" class="validation-lbl"></label>
            <label>Enter a ticker for Cross Asset Compare </label>
            <input id="ticker-searchca-txt-input" class="ticker-input-txt" type="text" placeholder="Tickers...." list="tickers-datalist" name="ticker" value="@Model.SelectedTicker" onkeyup="truthfullsApp.events.keyUpTickerSearchTxt(this)">
            <datalist id="tickers-datalist"> </datalist>
            <input id="ticker-search-btn" type="submit" class="dodger-blue-bg white-color margin-auto-r margin-auto-b" value="Search" onsubmit="truthfullsApp.events.searchCrossAssetCompare(this)">
            <a href="#" class="close-reveal-modal red-color" onclick="truthfullsApp.events.closePopup(this)">X</a>
        </form>

    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/StockIndex.js"> </script>

    <script type="text/javascript">
        
        docReady(function () {
            //load data into the application
            var data = {
                weeklygains : @Json.Serialize(Model.WeeklyGains),
                dailygains : @Json.Serialize(Model.DailyGains),
                dailyprices : @Json.Serialize(Model.DailyPrices),
                weeklyprices : @Json.Serialize(Model.WeeklyPrices)
                };

            //setup the app
            truthfullsApp.data.setNewPriceData(data);
            truthfullsApp.data.tickers = @Json.Serialize(Model.Tickers);
            truthfullsApp.state.selectedTicker = @Json.Serialize(@Model.SelectedTicker);
            truthfullsApp.state.currentChartFocus = truthfullsApp.state.ChartFocus.PriceChart;
            truthfullsApp.state.selectedTimeFrame = @Json.Serialize(Model.TimeframeType);
            truthfullsApp.state.selectedDuration = @Json.Serialize(Model.Duration);
            truthfullsApp.init();
            truthfullsApp.events.plotData();
        });
    </script>
}

@section Styles {
   <link rel="stylesheet" href="~/css/StockInfo.css"/>
}
